.bg { 
  background-color: rgb(255, 194, 68);
  padding-top: 20px;
}

.bar-owner {
    border-color: #1d7e75;
    background-color: #1d7e75;


.bar.bar-owner .title {
    color: #fff; }

.bar.bar-owner.bar-footer {
    background-image: linear-gradient(180deg, #1d7e75, #1d7e75 50%, transparent 50%); }
  
.bar-owner .button {
    border-color: #1d7e75;
    background-color: #26a69a;
    color: #fff; }
.bar-owner .button:hover {
    color: #fff;
    text-decoration: none; }
.bar-owner .button.active, .bar-owner .button.activated {
    border-color: #1d7e75;
    background-color: #1d7e75; }
  .bar-owner .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px; }
  .bar-owner .button.button-icon {
    border-color: transparent;
    background: none; }